  <header class="toolbar" role="banner" style="background-color: #333;">
    <img
      width="40"
      alt="Angular Logo"
      src="https://angular.io/assets/images/logos/angular/shield-large.svg">
      <header class="spacer" style="text-align: center;">
        <p>Employee Management System</p>
      </header>
      <div class="row g-0 mt-3 p-2">
        <div class="col-4 offset-8 d-flex align-items-end flex-column">
        <form class="col-12 d-flex">
        <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
        </div>
        <!-- <h2 class="col-12">Filter by: {{filterValue}}</h2> -->
        </div>
        
  </header>